@tailwind base;
@tailwind components;
@tailwind utilities;

#pop-up {
    display: none;
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: grey;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Ensure it appears on top of other content */
}

#pop-up.active {
    display: block; /* Show when active */
  }

